.banner {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.banner_img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
}
.banner_name {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}
