@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg: white;
    --text: black;
    --vip: rgb(241, 43, 178);
    --puple: #c770f0;
}

.vip {
    color: var(--vip);
    transition: text-shadow 0.3s ease;
    text-decoration: none;
}

.viphv:hover {
    text-shadow: 0 0 5px var(--vip), 0 0 10px var(--vip), 0 0 15px var(--vip), 0 0 20px var(--vip), 0 0 30px var(--vip), 0 0 40px var(--vip), 0 0 50px var(--vip), 0 0 75px var(--vip);
    color: white;
    transition: all 0.5s;
}


/* HTML: <div class="loader"></div> */

.loader {
    height: 20px;
    aspect-ratio: 2.5;
    --_g: no-repeat radial-gradient(farthest-side, #c4c4c4 90%, #0000);
    background: var(--_g), var(--_g), var(--_g), var(--_g);
    background-size: 20% 50%;
    animation: l43 1s infinite linear;
}

@keyframes l43 {
    0% {
        background-position: calc(0 * 100% / 3) 50%, calc(1 * 100% / 3) 50%, calc(2 * 100% / 3) 50%, calc(3 * 100% / 3) 50%;
    }
    16.67% {
        background-position: calc(0 * 100% / 3) 0, calc(1 * 100% / 3) 50%, calc(2 * 100% / 3) 50%, calc(3 * 100% / 3) 50%;
    }
    33.33% {
        background-position: calc(0 * 100% / 3) 100%, calc(1 * 100% / 3) 0, calc(2 * 100% / 3) 50%, calc(3 * 100% / 3) 50%;
    }
    50% {
        background-position: calc(0 * 100% / 3) 50%, calc(1 * 100% / 3) 100%, calc(2 * 100% / 3) 0, calc(3 * 100% / 3) 50%;
    }
    66.67% {
        background-position: calc(0 * 100% / 3) 50%, calc(1 * 100% / 3) 50%, calc(2 * 100% / 3) 100%, calc(3 * 100% / 3) 0;
    }
    83.33% {
        background-position: calc(0 * 100% / 3) 50%, calc(1 * 100% / 3) 50%, calc(2 * 100% / 3) 50%, calc(3 * 100% / 3) 100%;
    }
    100% {
        background-position: calc(0 * 100% / 3) 50%, calc(1 * 100% / 3) 50%, calc(2 * 100% / 3) 50%, calc(3 * 100% / 3) 50%;
    }
}