.hover:hover {
    cursor: pointer;
}


/* logo */

.header_logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.header_logo2 img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}


/* icon */

.header_logo2 img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.header_logo2 {
    position: relative;
}

.header_icon_menu {
    position: absolute;
}

.header_icon_menu {
    transition: all 0.4s;
    position: absolute;
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    top: 50px;
    right: 0;
    width: 180px;
    text-align: right;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
    opacity: 100;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
}

.header_icon_menu li {
    margin: 0;
    padding: 8px 20px;
}

.header_icon_menu li a {
    text-decoration: none;
    color: var(--text);
}

.header_icon_menu li:hover a {
    /* color: var(--vip); */
    color: white;
    transition: all 0.3s;
}

.header_icon_menu li:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.header_icon_menu.hide {
    transform: translateY(20px);
    z-index: -100;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}