.tv {
    background-image: url('../../assets/bgTv.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: white;
    position: relative;
}

.tv_h {
    min-height: 88vh;
}

.tv_h2 {
    min-height: 68vh;
}

.fs-8 {
    font-size: 0.8rem !important;
}